{% load static %}
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{%block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    {% block header%}{% endblock %}

    {% block contents%}{%endblock%}

    <!--Footer-->
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="-m-0">Copyright &copy;Private Diary 1192</p>
        </div>
    </footer>

</body>
</html>