{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/friends.css' %}" />
    {% block extra_style %}{% endblock %}
    <title>DeMiAインターン</title>
</head>
<body>
    {% block header %}
    <header class="header">
        <div class="header-container">
            <span class="header-container__title">
                {% block header-title %}友達一覧{% endblock %}
            </span>
        </div>
    </header>
    {% endblock %}
    
    {% if user_list %}
    <!-- キーワード検索 -->
    <form method="get">
        <input type="search" value="{{ request.GET.query }}" 
               name="query" type="text" 
               placeholder=" 友達の名前を入力..">
        <button>検索</button>
    </form>

    <ul>
        {% for friends in user_list %}
            {% if friends.username %}
                {% if friends.username != user.username %}
                    <a href="{% url 'talk_room' friends.username %}" class="user_link">
                        <div class="user">
                            <span class="image_icon"><img src="{{ friends.image.url }}" alt="" class="image"></span>
                            <span class="username">{{ friends.username }}</span>
                            <p class="latest_message">
                                {% if friends.latest_message %}
                                    {{ friends.latest_message|truncatechars:13 }}
                                {% else %}
                                    まだメッセージはありません
                                {% endif %}
                            </p> 
                        </div>
                    </a>
                {% endif %}    
            {% endif %}
        {% endfor %}
    </ul>

    {% else %}
    <form method="get">
        <input type="search" value="{{ request.GET.query }}" 
               name="query" type="text" 
               placeholder=" 友達の名前を入力..">
        <button>検索</button>
    </form>
    キーワードに一致する友達は存在しません。
    {% endif %}
    
    

    {% block footer %}
    
    <footer class="footer">
        
        <div class="footer-container">
            <div class="footer-container__item">
                <a href="{% url 'friends' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/people-24px.svg' %}"></span>
                    <span class="footer-item__text">友達</span>
                </a>
            </div>
            <div class="footer-container__item">
                <a href="{% url 'setting' %}" class="footer-item__link">
                    <span class="footer-item__icon"><img src="{% static 'myapp/img/settings-black-18dp.svg' %}"></span>
                    <span class="footer-item__text">設定</span>
                </a>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>
{% if debug %}
    
{% endif %}